.w-details-header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #84E4F7;
}

.w-details-table {
margin-left: 35%;
margin-top: 40px;
}

.w-goback {
    margin-right: 5px;
    float: right;
}

.w-goback span {
    font-size: 14px;
    color: black;
}

.w-goback a {
    cursor: pointer;
}